<div class="container-fluid mm-content-header-group p-0">
  <div class="row g-0">
    <div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 align-items-center d-flex align mm-content-header">
      <div class="mm-home-description-details w-100">
        <h1 class="mm-header mm-large-header mm-content-header-title">How to Eat a Balanced Diet</h1>
        <p class="mm-smaller-subtitle text-dark mm-content-header-subtitle">Last updated: 9th January, 2024.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
      <div class="mm-article">
        <br>
        <p class="mm-smaller-subtitle">A balanced diet is made up of foods from a variety of
          food groups. The five main food groups are Grains, Vegetables, Fruits, Protein
          Foods and Dairy. Each provides the range of vitamins and minerals our bodies need to function efficiently.
          It's unlikely that every meal will include all five, but the aim is to achieve a balance across the day, or
          across the week.
        </p>
        <p class="mm-smaller-subtitle">The 2015-2020 Dietary Guidelines for Americans emphasizes the importance of an
          overall healthy eating pattern with all five groups as key building blocks, plus oils.
          While oils are not necessarily added as a food group, they are emphasized as part of a healthy eating pattern
          because they are a major source of essential fatty acids and vitamin E.
          Each food group includes a variety of foods that are similar in nutritional makeup, and each group plays an
          important role in an overall healthy eating pattern.
          Some of these food groups are broken down further into subgroups to emphasize foods that are particularly good
          sources of certain vitamins and minerals.
        </p>
        <p class="mm-smaller-subtitle">Food groups simplify dietary recommendations by focusing on foods instead of
          nutrients.
          By eating recommended amounts, individuals can meet their nutritional needs without having to track dozens of
          individual nutrients.
        </p>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Grains</h2>
          <p class="mm-smaller-subtitle">One quarter of your plate should be grains,
            according to the MyPlate Guide. Half of your grain servings should come
            from whole grains, meaning that the grain contains all three parts of the
            kernel - bran, germ and endosperm. Whole grains are a source of magnesium,
            B vitamins and fiber that work collectively to reduce the risk of stroke,
            heart disease and diabetes, while supporting a healthy metabolism.</p>
          <p class="mm-smaller-subtitle">They are the body's main source of energy.
            This food group includes wheat, barley, ready to eat breakfast cereals,
            bread and rice etc.</p>
        </div>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Vegetables</h2>
          <p class="mm-smaller-subtitle">Vegetables are loaded with good nutrition and are
            naturally low fat and cholesterol-free. The MyPlate guide recommends that one
            half of your plate contain vegetables, as well as fruit. Vegetables provide a
            variety of nutrients including potassium, fiber, folic acid, vitamin A and
            vitamin C. A diet rich in vegetables reduces the risk of many diseases, including
            heart disease, stroke, type-2 diabetes and certain types of cancer. Example
            includes spinach, carrot, tomatoes, broccoli, lettuce etc.</p>
        </div>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Fruits</h2>
          <p class="mm-smaller-subtitle">Fruits, as well as vegetables, are nutritional
            powerhouses high in fibre and packed full of vitamins and minerals that should
            make up one half of your plate at mealtime, in conjunction with vegetables.
            Fruits are good sources of potassium, vitamin C, folic acid and fiber. Fruits,
            like vegetables, contain antioxidants that protect cells against damaging free
            radicals. Many fruits are also naturally low in calories and can contribute to
            a healthy weight when eaten, instead of high-calorie foods. Different colours
            indicate different nutrients too, which each play a part in keeping our bodies
            healthy. This is why it's important to eat the rainbow, and embrace a variety every day.</p>
          <p class="mm-smaller-subtitle">Fruit and vegetables should make up just over a
            third of your diet. An easy way to track this is to make sure it takes up around
            half of your plate. Aim for at least five portions of different vegetables and
            fruit every day - roughly a large handful or 80g of each.</p>
        </div>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Protein Foods</h2>
          <p class="mm-smaller-subtitle">One quarter of your plate should be protein foods, including meat, eggs, fish,
            shellfish, nuts and seeds. Protein supports muscles and is an important component of body tissues, blood and
            hormones. Fish and shellfish contain heart-healthy omega-3 fatty acids that help prevent heart disease.</p>
          <p class="mm-smaller-subtitle">Protein provides us with key amino acids, which are the building blocks of the
            body. Our bodies are continually building and renewing cells, and we need amino acids to be able to do this.
            Just like different fruit and veg, different types of protein provide us with the variety of vitamins and
            minerals that we need to stay healthy and strong. Therefore, it very important to vary your protein sources.
            As well as eating meat and fish, we should include vegetarian sources each week; eggs, beans and pulses,
            tofu, nuts and seeds are all great alternatives.
          </p>
        </div>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Dairy</h2>
          <p class="mm-smaller-subtitle">Dairy foods have all the essential nutrients for bone health, including
            potassium, calcium and vitamin D. incorporating milk and milk products into the diet can help promote bone
            health and is associated with a lower risk of heart disease. The potassium in dairy products also helps
            reduce blood pressure.</p>
          <p class="mm-smaller-subtitle">
            Dairy is a great source of protein, vitamins and minerals. Probably the most well known of these is calcium,
            which is needed for healthy teeth and strong bones. When choosing your dairy sources try and go for low-fat
            or fat-free options.
            If you're allergic or intolerant to dairy, there are alternatives that you can use such as soy, nut, oat or
            rice milks.
          </p>
        </div>
        <div class="mm-article-section">
          <h2 class="text-uppercase">Fats and Oils</h2>
          <p class="mm-smaller-subtitle">With the creation of MyPlate, the USDA eliminated oils as a food group.
            However, oils are often used in cooking and added to other foods in the form of salad dressings or sauces.
            Oils contribute essential fatty acids and the antioxidant vitamin E and are part of a healthful diet.
            We need a small amount to protect our organs, absorb certain vitamins and to help us to grow. However, we do
            need to be careful about the type and amount we eat because it's high in energy.
          </p>
          <p class="mm-smaller-subtitle">
            The reference intake of fat is a maximum of 70g per day for adults (of which no more than 20g of saturated
            fat should be consumed). Saturated fats are found in foods such as beef, pork, chicken skin, butter, cheese
            and coconut oil. Eating too much of these fats can put us at higher risk of heart disease and stroke. Hence,
            you can help to keep your heart healthy by swapping saturated fats with unsaturated fats that come from
            nuts, seeds, vegetable oils and fish. Consequently, to reduce saturated fat in your diet, cook with
            vegetable oils rather than butter and lard and try using yogurt instead of cream.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>