<div class="mm-footer">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-6 col-lg-4 p-4 text-center">
                <img src="../../../assets/images/logo.png"
                    alt="Mystical Morning: A Healthy, Affordable Breakfast Service for Working Class People">
                <p class="mt-3">Helping people eat healthy at affordable prices</p>
                <div class="mm-footer-divider pt-5 pb-3">
                    <i class="bi bi-circle-fill" id="black"></i>
                    <i class="bi bi-circle-fill" id="contrast"></i>
                    <i class="bi bi-circle-fill" id="accent"></i>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-4">
                <h1 class="text-center">Social Media</h1>
                <div class="mm-social-media-icons d-flex justify-content-center">
                    <a href="https://www.instagram.com/mystical.morning" class="text-black px-1" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://wa.me/2348071376213" class="text-black px-1" target="_blank">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                    <a href="tel:+2348071376213" class="text-black px-1" target="_blank">
                        <i class="bi bi-telephone-fill"></i>
                    </a>
                    <a href="mailto:support@mysticalmorning.com" class="text-black px-1" target="_blank">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mm-footer-contrast text-center mt-5">
        <p class="mm-copyright-text">Copyright <i class="bi bi-c-circle"></i> 2023</p>
    </div>
</div>