main {
  z-index: 10;
  position: relative;
}

.mm-backdrop{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0; right: 0; left: 0;
  margin: auto;
  background-image: linear-gradient(rgba(130, 255, 147, 0.5), rgba(130, 255, 147, 0.5)), url('../assets/images/breakfast.jpg');
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.container-fluid.mm-first-content-group {
  height: 95vh;
}

.mm-first-content-group > .row {
  height: 100%;
}

.mm-home-description {
  height: 100%;
  padding: var(--mm-default-spacing);
}

.mm-first-content-button {
  padding-bottom: var(--mm-small-spacing);
}

.mm-grid-images{
  padding: 2px;
}

.mm-grid-images-group {
  margin-top: 64px;
}

@media only screen and (min-width: 768px) {
  .mm-home-description{
    padding: var(--mm-large-spacing);
  }
  
  .mm-first-content-button {
    padding-right: var(--mm-default-spacing);
    padding-bottom: 0px;
  }

}
