<header>
  <app-nav></app-nav>
</header>
<main [ngClass]="isModalShown ? 'mm-full-viewport' : ''">
  <div class="container-fluid mm-first-content-group p-0">
    <div class="row g-0">
      <div class="col-lg-8 col-xl-6 d-flex align-items-center mm-home-description">
        <div class="mm-home-description-details w-100">
          <h1 class="mm-header mm-business-name">Mystical Morning</h1>
          <p class="mm-subtitle">A healthy, affordable breakfast service for busy people.</p>
          <p class="mm-smaller-subtitle">Delivered to you between 7am and 9am from Monday to Friday in Ibadan.</p>
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-md-5 mm-first-content-button">
                <button class="mm-button w-100" (click)="toggleModal()">QUICK PREORDER</button>
              </div>
              <div class="col-md-5 mm-first-content-button">
                <button class="mm-button mm-button-alternate w-100" (click)="toggleModal()">SUBSCRIBE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-xl-1 col-xl-5 d-flex">
        <div class="container-fluid p-0 mm-grid-images-group">
          <div class="row g-0">
            <div class="col-6 col-md-4 col-lg-6 col-xl-4 mm-grid-images" *ngFor="let product of products">
              <img src="../assets/images/{{product}}.jpg" alt="{{product}} picture" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-xl-4 mm-grid-images d-none d-xl-block" *ngFor="let product of more_products">
              <img src="../assets/images/{{product}}.jpg" alt="{{product}} picture" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mm-section-break"></div>
  <div class="mm-content-group mm-full-content-group mm-second-content-group" id="vegetables">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-1 col-10 offset-lg-3 col-lg-6 mm-section-container d-flex justify-content-center align-items-center">
          <div class="mm-section-details">
            <div class="mm-section-title">
              <h1 class="mm-section-title-header">HEALTHY MEALS</h1>
            </div>
            <hr>
            <div class="mm-section-description">
              <p class="mm-section-description-paragraph mm-smaller-subtitle">
                Each meal is made with vegetables that keep your skin fresh, your gut cleansed and protect your overall health.
              </p>
              <p class="mm-section-description-paragraph mm-smaller-subtitle">
                Vegetables in each of our meals consist of carrots, green beans and cabbage which are sourced directly from the farmer's market, making sure it is natural and always fresh. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mm-section-break"></div>
  <div class="mm-content-group mm-full-content-group mm-second-content-group" id="affordable">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 mm-section-container">
          <div class="mm-section-details">
            <div class="mm-section-title">
              <h1 class="mm-section-title-header">AFFORDABLE</h1>
            </div>
            <hr>
            <div class="mm-section-description">
              <p class="mm-section-description-paragraph mm-smaller-subtitle">
                We aim to serve you. Each meal we offer delivers the exceptional value at the cheapest price possible. Tastes like mum's, made with love and affordable for all.
              </p>
            </div>
          </div>
          <div class="container-fluid px-0">
            <div class="row g-0 justify-content-center">
              <div class="col-6 col-lg-4 mt-3 p-1" *ngFor="let product of affordableProducts">
                <app-product [product]="product"></app-product>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="mm-backdrop">
  <div class="mm-backdrop-image"></div>
</div>
<app-modal *ngIf="isModalShown" [message]="preorderMessage" (modalCloser)="toggleModal()"></app-modal>