<header>
  <app-nav></app-nav>
</header>
<main [ngClass]="isModalShown ? 'mm-full-viewport' : ''">
  <div class="container-fluid mm-first-content-group">
    <div class="row g-0">
      <div class="col-lg-6 d-flex align-items-center mm-home-description">
        <div class="mm-home-description-details w-100">
          <h1 class="mm-header mm-business-name">Mystical Morning</h1>
          <p class="mm-subtitle">A healthy, affordable breakfast service for busy people.</p>
          <p class="mm-smaller-subtitle">Delivered to you between 7am and 9am from Monday to Friday in Ibadan.</p>
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-md-5 mm-first-content-button">
                <button class="mm-button w-100" (click)="toggleModal()">QUICK PREORDER</button>
              </div>
              <div class="col-md-5 mm-first-content-button">
                <button class="mm-button mm-button-alternate w-100" (click)="toggleModal()">SUBSCRIBE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5 d-flex">
        <div class="container-fluid p-0 mm-grid-images-group">
          <div class="row g-0">
            <div class="col-6 col-xl-4 mm-grid-images" *ngFor="let product of products">
              <img src="../assets/images/{{product}}.jpg" alt="{{product}} picture" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="mm-backdrop">
  <div class="mm-backdrop-image"></div>
</div>
<app-modal *ngIf="isModalShown" [message]="preorderMessage" (modalCloser)="toggleModal()"></app-modal>