main {
  z-index: 10;
  position: relative;
}

.mm-full-viewport {
  height: 100vh;
  overflow-y: hidden;
}

.mm-backdrop{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0; right: 0; left: 0;
  margin: auto;
  background-image: linear-gradient(rgba(130, 255, 147, 0.5), rgba(130, 255, 147, 0.5)), url('../assets/images/breakfast.jpg');
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.container-fluid.mm-first-content-group {
  height: auto;
}

.mm-first-content-group > .row {
  height: 100%;
}

.mm-home-description {
  height: 100vh;
  padding: var(--mm-default-spacing);
  padding-top: var(--mm-large-spacing);
}

.mm-first-content-button {
  padding-bottom: var(--mm-default-spacing);
}

.mm-grid-images{
  padding: 2px;
}

.mm-grid-images-group {
  margin-top: 64px;
  overflow-y: hidden;
}

.mm-second-content-group {
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

#vegetables {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/images/veggies.jpg');
}

#affordable {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../assets/images/overlay_light.jpg');
}

.mm-second-content-group > .container-fluid {
  padding: var(--mm-large-spacing) 0;
  backdrop-filter: blur(10px);
}

.mm-section-container {
  height: auto;
  padding: var(--mm-xl-spacing) 0;
}

.mm-section-details {
  padding: var(--mm-default-spacing);
  backdrop-filter: blur(5px);
  background-color: var(--mm-default-background-color);
}

.mm-section-break {
  height: 1px;
  background-color: var(--mm-default-background-color);
}

@media only screen and (min-width: 768px) {
  .mm-home-description{
    padding: var(--mm-large-spacing);
  }
  
  .mm-first-content-button {
    padding-right: var(--mm-default-spacing);
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 800px) and (min-height: 1080px) {
  .mm-home-description {
    height: 90vh;
  }
}
