:root{
  --mm-small-spacing: 13.5px;
  --mm-default-spacing: 27px;
  --mm-large-spacing: 54px;
  --mm-xl-spacing: 108px;
  --mm-responsive-spacing: 13.5px;
  --mm-responsive-font-size: 12px;
  --mm-primary-text-color: black;
  --mm-primary-text-color-contrast: white;
  --mm-smaller-subtitle-color: #4d4d4d;
  --mm-text-color: black;
  --mm-text-color-contrast: white;
  --mm-primary-color: rgb(96, 255, 96);
  --mm-primary-color-light: rgb(200, 255, 200);
  --mm-primary-color-contrast: rgb(0, 51, 27);
  --mm-accent-color: rgb(240, 82, 2);
  --mm-grey-color: rgb(128, 128, 128);
  --mm-nav-background-color: rgba(245, 245, 245, 0.7);
  --mm-modal-backdrop-color: rgba(0, 0, 0, 0.65);
  --mm-modal-background-color: rgba(250, 250, 250, 0.8);
  --mm-modal-button-container-color: rgba(230, 230, 230);
  --mm-black: rgba(26, 26, 26);
  --mm-default-background-color: rgba(245, 245, 245, 0.8);
  --mm-brightest-background-color: rgba(255, 255, 255, 0.9);
  --mm-noon-color: rgb(255, 245, 219);
}

body {
  color: var(--mm-text-color);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--mm-nav-background-color);
}

h1, h2, h3, h4, h5, h6, button, label {
  font-family: 'ITC Avant Garde Pro Md', Cambria, sans-serif;
  font-weight: 900;
  margin: 0;
  color: inherit;
}

label {
  margin-bottom: var(--mm-small-spacing);
}

h1.mm-business-name{
  font-family: 'Raleway', Cambria, sans-serif;
}

p, textarea, input, li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2em;
  color: inherit;
}

p.number, .fw-bold {
  font-family: 'ITC Avant Garde Pro Md', Times, serif;
}

button {
  height: 64px;
  color: var(--mm-primary-text-color-contrast);
  background-color: var(--mm-primary-color-contrast);
  border: 3px solid var(--mm-primary-color-contrast);
  transition: background-color 250ms linear, transform 250ms linear;
}

button.mm-button-alternate {
  color: var(--mm-primary-text-color);
  background-color: transparent;
}

button:hover{
  background-color: var(--mm-primary-color);
  border-color: var(--mm-primary-color);
  color: var(--mm-primary-text-color-contrast);
}

button.selected{
  background-color: var(--mm-primary-color-contrast);
  border-color: var(--mm-primary-color-contrast);
  color: var(--mm-primary-text-color-contrast);
}

button:active{
  transform: scale(0.95);
}

a {
  color: var(--mm-primary-color-contrast);
  text-decoration: none;
  font-family: 'Jost', sans-serif;
}

a:hover {
  color: var(--mm-accent-color);
}

input, textarea {
  resize: none;
  width: 100%;
  border: 2px solid var(--mm-primary-color-contrast);
  background-color: transparent;
  padding: var(--mm-small-spacing);
}

img {
  width: 100%;
  height: auto;
}

i {
  font-size: 21px;
  line-height: 1;
  padding: 4px;
}

.mm-page-divider {
  height: 8px;
  background-color: var(--mm-primary-color-contrast);
}

.mm-page-heading {
  min-height: 60vh;
}

.mm-content-header-group {
  background: linear-gradient(to right, white, var(--mm-primary-color-light)), url('./assets/images/abstract.png');
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: left center;
}

.mm-content-header {
  min-height: 60vh;
  padding: var(--mm-default-spacing);
  margin-top: var(--mm-large-spacing);
}

.mm-header {
  font-size: 16pt;
  line-height: 1em;
  margin-bottom: var(--mm-small-spacing);
  letter-spacing: -0.5px;
}

.mm-subheading {
  font-size: 14pt;
  line-height: 1em;
}

.mm-header.mm-large-header {
  font-size: 57pt;
}

.mm-header.mm-article-header {
  font-size: 42pt;
}

.mm-bg-primary {
  background-color: var(--mm-primary-color);
}

.mm-bg-contrast {
  background-color: var(--mm-primary-color-contrast);
}

p.mm-subtitle{
  font-size: 23pt;
  letter-spacing: -0.6px;
}

.mm-smaller-subtitle{
  font-size: 12pt;
  color: var(--mm-smaller-subtitle-color);
  margin-bottom: var(--mm-default-spacing);
}

.shorten {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accent {
  color: var(--mm-accent-color) !important;
}

.mm-article {
  padding: 5%;
}

.mm-article-section {
  margin: 64px 0px;
}

.mm-article-section > h2 {
  margin-bottom: var(--mm-small-spacing);
}

p.mm-smaller-subtitle, li.mm-smaller-subtitle {
  line-height: 1.5em;
}

*:disabled, *:disabled:hover {
  cursor: not-allowed;
  opacity: 0.5;
}

.mm-subscription-step {
  height: 100%;
  background-color: var(--mm-modal-background-color);
  background-blend-mode: soft-light;
  border: 1px solid var(--mm-primary-color-light);
}

.mm-subscription-padding {
  padding: 0px var(--mm-responsive-spacing);
}

.mm-fit-screen {
  height: 100vh;
}

.mm-fill-screen {
  min-height: 100vh;
}

.mm-match-height {
  height: 100%;
}

.mm-modal-container {
  top: 0;
  background-color: var(--mm-modal-backdrop-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.mm-morning-bg {
  background-color: var(--mm-brightest-background-color);
}

.mm-afternoon-bg {
  background-color: var(--mm-noon-color);
}

.mm-night-bg {
  background-color: var(--mm-nav-background-color);
}

.mm-container-selected {
  background-color: var(--mm-primary-color-light);
}

i.bi-cloud-sun-fill {
  color: var(--mm-primary-color);
}

i.bi-sun-fill {
  color: orange;
}

i.bi-moon-fill {
  color: var(--mm-primary-color-contrast);
}

@keyframes slideUp {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --mm-responsive-spacing: 27px;
    --mm-responsive-font-size: 16px;
  }

  .mm-header.mm-large-header {
    font-size: 54pt;
    margin-bottom: 0;
  }
  
  p.mm-subtitle{
    font-size: 27pt;
    letter-spacing: -0.6px;
  }

  .mm-smaller-subtitle{
    font-size: 14pt;
    color: var(--mm-smaller-subtitle-color);
  }
}
